body{
  background: #333;
}
.wrap {
  margin: auto;
  width: 90%;
  font-family: Helvetica;
  padding-top: 7vh;
}
.mainTitle{
  text-align: center;
  color: #fff;
  font-size: 2.2vw;
  padding-left: 10vw;
}
@media (max-width: 1012px) {
  .mainTitle{
    text-align: right;
    font-size: 2.5vw;
  }
}
@media (max-width: 730px) {
  .mainTitle{
    text-align: center;
    font-size: 3.3vw;
    padding: 0;
  }
}
@media (max-width: 530px) {
  .mainTitle{
    font-size: 3.8vw;
  }
}
