.skills {
  display: inline-block;
  width: 42%;
  vertical-align: top;
}
.skillsTitle {
  font: 600 33px/40px Montserrat, arial, helvetica, sans-serif;
  color: #0094ff;
  margin-bottom: 10px;
}
.skills > p {
  font: 400 33px/40px Montserrat, arial, helvetica, sans-serif;
  margin-top: 0;
}
.skillsList {
  display: inline-block;
  list-style-type: none;
  width: 42%;
  padding: 5px 0 0 110px;
  margin-bottom: 87px;
}
.skillsList > li {
  font: 600 23px/28px Montserrat, arial, helvetica, sans-serif;
  color: #adadb9;
}
.skillsNum {
  color: #ffc700;
}
.skillsList > p {
  font: 400 23px/28px Montserrat, arial, helvetica, sans-serif;
  margin-top: 6px;
}
.userLink {
  font-weight: 500;
  color: #0094ff;
  text-decoration: none;
  transition: 1s;
}
.userLink:hover {
  color: #ffc700;
}
