.user{
  display: inline-block;
  height: 100%;
}
.userAvatar{
  width: 300px;
  border-radius: 50%;
  position: absolute;
  margin: -150px 20px 20px 20px;
}
.userInfo{
  color: #333;
  width: 300px;
  margin: 180px 30px 30px 30px;
}
.userTitle{
  color: #333;
  margin-bottom: 0px;
}
.userText{
  margin: 0 0 5px 0;
  font-size: 15px;
  position: relative;
}
.userIcon{
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
}
.link{
  color: #333;
}
.title{
  text-align: center;
  color: #333;
}
.projectLink{
  color: #3F51B5;
  font-size: 20px;
  text-decoration: none;
}
.text{
  margin: 0;
  padding: 5px 10px 0 0;
  font-size: 14px;
}
.list{
 list-style-type: none;
}
.listItem{
  margin: 0 40px 10px 0;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px 10px;
}
.listItem:hover{
  background-color: #E7EAF6;
}
.pagination{
  display: flex;
  justify-content: center;
  padding-bottom: 18px;
}
