.userBlock{
  width: 95%;
  margin: auto;
}
.user{
  display: inline-block;
  width: 18vw;
}
.userAvatar{
  width: 16vw;
  border-radius: 50%;
  position: absolute;
  margin-top: -8vw;
}
.userInfo{
  color: #333;
  margin: 8.5vw 0 0 1vw;
}
.userTitle{
  color: #333;
  margin-bottom: 0px;
  font-size: 24px;
}
.userText{
  margin: 0 0 0.1vh 0;
  font-size: 18px;
  position: relative;
  color: #333;
}
.userLink{
  font-size: 18px;
  color: #333;
  text-decoration: none;
  transition: 0.8s;
}
.userLink:hover{
  text-decoration: underline;
}
.userIcon{
  position: relative;
  top: 6px;
}
.title{
  text-align: center;
  color: #333;
  font-size: 24px;
  margin: 14px 0 14px 0;
}
.userDescription{
  display: inline-block;
  font-size: 20px;
  vertical-align: top;
  padding-left: 10%;
}
.projects{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.projectLink{
  color: #333;
  font-size: 18px;
  text-decoration: none;
  transition: 0.8s;
}
.projectLink:hover{
  text-decoration: underline;
}
.projectImg{
  max-width: 21vw;
}
.projectItem{
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  padding: 10px 10px;
  display: inline-block;
  text-align: center;
  max-width: 22vw;
  transition: 0.8s;
}
.projectItem:hover{
  background-color: #ebebeb;
}
.pagination{
  display: flex;
  justify-content: center;
  padding: 14px 0 14px 0;
}
@media (max-width: 1367px) {
  .userTitle, .title{
    font-size: 22px;
  }
  .userText, .userLink, .projectLink{
    font-size: 16px;
  }
  .userDescription{
    font-size: 18px;
  }
}
@media (max-width: 1192px) {
  .userTitle, .title{
    font-size: 18px;
  }
  .userText, .userLink, .projectLink{
    font-size: 14px;
  }
  .userDescription{
    font-size: 16px;
  }
}
@media (max-width: 1012px) {
  .user{
    display: inline-block;
    width: 100%;
  }
  .userAvatar{
    width: 32vw;
    margin-top: -10vw;
  }
  .userInfo{
    text-align: right;
    margin: 0 0 9vw 0;
  }
}
@media (max-width: 730px) {
  .userAvatar{
    width: 26vw;
    margin-top: 2vw;
  }
  .projects{
    flex-direction: column;
    align-items: center;
  }
  .projectItem{
    margin-bottom: 20px;
    max-width: 72vw;
    width: 72vw;
  }
  .projectItem:last-child{
    margin-bottom: 0;
  }
  .projectImg{
    max-width: 50vw;
    width: 50vw;
  }
}
@media (max-width: 530px) {
  .userAvatar{
    width: 32vw;
  }
  .userTitle, .title{
    font-size: 16px;
  }
  .userText, .userLink{
    font-size: 12px;
  }
  .userDescription{
    font-size: 14px;
    margin-bottom: 0;
  }
}
